---
import Layout from "@layouts/BaseLayout.astro";
import ImageGrid from "@components/ImageGrid.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { getCollection } from "astro:content";
import "@styles/home.css";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  projects = await getCollection("projects"),
  posts = await getCollection("blog"),
} = Astro.props;

import featuredImage from "../assets/placeholder-square.webp";

// Sort posts by updateDate if available, otherwise by pubDate
const sortedProjects = projects
  .sort((a, b) => {
    const dateA = a.data.updatedDate || a.data.pubDate;
    const dateB = b.data.updatedDate || b.data.pubDate;
    return new Date(dateB) - new Date(dateA);
  })
  .slice(0, 6); // limit to 6

const sortedPosts = posts
  .sort((a, b) => {
    const dateA = a.data.updatedDate || a.data.pubDate;
    const dateB = b.data.updatedDate || b.data.pubDate;
    return new Date(dateB) - new Date(dateA);
  })
  .slice(0, 3); // limit to 3
---

<Layout title={title} description={description} featuredImage={featuredImage}>
  <main class="full-width-content">
    <h1 class="sr-only">{title}</h1>
    <p class="intro-text">{description}</p>
    <section>
      <h2>case studies</h2>
      <div class="project-masonry">
        {sortedProjects.slice(0, 3).map((project) => (
          <div class="project-masonry-card" key={project.slug}>
            <div class="project-image-wrapper">
              <img src={project.data.featuredImage.src} alt={project.data.title} />
              <a href={`/projects/${project.slug}/`} class="project-overlay-btn">CLICK TO VIEW</a>
            </div>
            <div class="project-meta">
              <div class="project-year">{project.data.pubDate ? project.data.pubDate.getFullYear() : ""} &rarr;</div>
            </div>
            <div class="project-title">{project.data.title}</div>
            <div class="project-desc">{project.data.description}</div>
          </div>
        ))}
      </div>
      <p><a href="./projects" class="section-link">View all Case Studies</a></p>
    </section>

    <section>
      <h2>Bài viết mới nhất</h2>
      <div class="blog-list">
        {
          sortedPosts.map((post) => (
            <article>
              <a href={`/blog/${post.slug}/`}>
                <h3 class="title">{post.data.title}</h3>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
                <p class="description">{post.data.description}</p>
              </a>
            </article>
          ))
        }
      </div>
      <p><a href="./blog" class="section-link">Xem tất cả bài viết</a></p>
    </section>
  </main>
</Layout>
